@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

:root {
    --color-primary: #000;
    --color-second:  rgb(0, 145, 255);
    --color-bg-1: #000e17;
    --color-bg-2: #212121;
    --color-bg-3: #012734;
    --color-bg-4: #003347;
    --color-light: #fff;
    --color-white:hsl(0,0,90%);

    --container-width-lg: 88%;
    --container-width-md: 92%;

    --transition: all 400ms ease;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Source Sans Pro', sans-serif;
    background: var(--color-primary);
    color: var(--color-white);
    line-height: 1.7;
}

h1, h2, h3, h4 {
    line-height: 1.1;
    color: var(--color-light);
}

p {
    color: var(--color-light);
}

li{
    list-style: none;
}
  

a {
    color: var(--color-light);
    transition: var(--transition);
    text-decoration: none;
}

a :hover{
    color: var(--color-bg-4);
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
    max-width: 2160px;
}

header{
    position: relative;
    padding: 0 2rem;
}

.nav {
    width: 100%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    padding-top: 40px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.nav-logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-light);
}

.nav-links {
    display: flex;
    gap: 2rem;
}

.nav-links a:hover {
    color: var(--color-bg-4);
}

.nav-toggle-btn{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.nav-contact {
    background-color: var(--color-bg-4);
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.nav-contact:hover {
    scale: 1.05;
    color: #fff;
} */

.nav-contact:active{
    scale: 0.95;
}

.dropdown-menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 0;
    width: 300px;
    height: 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform-origin: top;
    z-index: 99;
  }
  
.dropdown-menu.open{
    height: 260px;
}
  
.dropdown-menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.dropdown-menu .nav-contact-toggle {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--color-bg-4);
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.bg-nav {
    background: rgba(0, 0, 0, 0.7);
    transition: 0.35s;
}

.home {
    margin: 0 auto;
    margin-top: 7rem;
    width: 90%;
    border-radius: 1rem;
    background: linear-gradient(rgba(10, 10, 10, 0.5), rgba(3, 3, 3, 0.8)), url(../image/home.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    min-height: 80vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 5rem;
  }

.home-container {
    text-align: center;
}

.home-container h1 {
    font-size: 4rem;
    margin-top: 9rem;
    font-weight: 600;
}

.home-container h4 {
    margin: 1rem auto;
    margin-left: 5rem;
    margin-right: 5rem;
    font-size: 1.4rem;
    font-weight: 300;
}

.about {
    width: 85%;
    display: flex;
    margin: 3rem auto;
    padding-top: 9rem;
}

.about-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap: 150px;
}

.about-description {
    color: var(--color-light);
    position: relative;
    font-size: 1.5rem;
}

.about h2 {
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 1rem;
}

.about p {
    font-weight: 300;
}

.about-img {
    height: 350px;
    position: relative;
}

.about-img img {
    width: 40vw;
}

.service {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 2rem;
    padding-top: 7rem;
    margin-top: 200px;
}

.service-description {
    text-align: center;
    width: 100%;
    padding-bottom: 2rem;
}

.service-description h2 {
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 1rem;
}

.service-description p {
    font-weight: 300;
    font-size: 1.5rem;
}

.service-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: auto;
    background-color: var(--color-bg-2);
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
    padding: 2rem;
    margin: 1rem;
    transition: all 0.2s ease-in;
}   

.service-container:hover {
    transform: scale(1.1);
}

.service-header {
    margin: 1rem;
    text-align: center;
}

.service-container:hover .service-header h2 {
    transform: scale(1.1);
    letter-spacing: 2;
}

.service-header i {
    font-size: 2rem;
    display: block;
    margin: 0 auto;
    color: var(--color-light);
}

.service-header h2 {
    font-weight: 600;
    font-size: 1.5rem;
}

.service-detail {
    width: 100%;
}

.service-detail p {
    padding: 0.6rem 1.5rem;
    font-size: 1.5rem;
    border-bottom: 1px solid #d5d5d5;
}

.check {
    color: var(--color-bg-4);
}

.nocheck {
    color: #ec615b;
}

.service-detail p:hover {
    background-color: var(--color-bg-4);
}

.service-price {
    display: flex;
    align-items: flex-start;
    margin: 1rem;
}

.service-price p {
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-light);
}

.service-price p sup,
.service-price p sub {
    font-size: 1.2rem;
}

.service-btn {
    padding: 0.6rem 3rem;
    border: 2px solid var(--color-bg-4);
    background-color: var(--color-bg-4);
    color: var(--color-light);
    border-radius: 30px;
    cursor: pointer;
    transition: all 50ms ease-in;
    font-size: 1.1rem;
}

.service-btn:hover {
    border: 2px solid var(--color-light);
    background-color: var(--color-light);
    color: var(--color-bg-4);
    font-weight: 800;
}

.highlight{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2rem;
    margin-top: 5rem;
    padding: 3rem 9%;
}

.highlight .video-container {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 42rem;
            flex: 1 1 42rem;
}

.highlight .video-container video {
    border-radius: 1rem;
    width: 100%;
}

.highlight .video-container .controls {
    text-align: center;
    padding: 2rem 0;
}

.highlight .video-container .controls span {
    display: inline-block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    margin: .5rem;
}

.highlight .video-container .controls span:hover {
    background: var(--color-bg-4);
}

.highlight .content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 42rem;
            flex: 1 1 42rem;
    margin-bottom: 5rem;
}

.highlight .content h2 {
    color: #fff;
    font-size: 2rem;
    margin-top: .5rem;
    font-weight: 600;
}

.highlight .content p {
    padding: 1rem 0;
    font-size: 1.4rem;
    color: #aaa;
    line-height: 2;
}

.highlight .btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    border: 0.2rem solid var(--color-bg-4);
    border-radius: 5rem;
    cursor: pointer;
    background: none;
}

.highlight .btn:hover {
    background: var(--color-bg-3);
}

.highlight .content p {
    padding: 1rem 0;
    font-size: 1.2rem;
    color: #aaa;
    line-height: 2;
}

.gallery {
    margin: 3rem auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    padding: 2rem;
    padding-top: 0rem;
}

.gallery-description {
    text-align: center;
    width: 80%;
    padding-bottom: 2rem;
}

.gallery-description h2 {
    padding-bottom: 2rem;
    font-weight: 600;
    font-size: 2rem;
}

.gallery-description p {
    font-weight: 300;
    font-size: 1.2rem;
}

.gallery-container {
    margin-top: 30px;
    -webkit-columns: 3 25rem;
      columns: 3 25rem;
    -webkit-column-gap: 1.5rem;
      column-gap: 1.5rem; 
}
  
.gallery-container .image{
    margin-bottom: 1rem;
    -webkit-column-break-inside: avoid;
            break-inside: avoid;
}

.gallery-container .image span{
    display: flex;
    width: 100%;
    overflow: hidden;
    font-size: 1.4rem;
    color: #aaa;
}

.gallery-container .image img{
    width: 100%;
    vertical-align: middle;
    transition: all 0.3s ease;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.gallery-container .image h3 {
    font-size: 1.5vw;
    color: #fff;
    text-align: left;
}

.shadow{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: none;
    background: rgba(0,0,0,0.4);
}

footer{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .contact-description{
    max-width: 800px;
    text-align: center;
}

.contact-description h2 {
    font-size: 2rem;
    font-weight: 500;
    color: var(--color-light);
}

.contact-description p{
    font-weight: 300;
    color: var(--color-light);
    font-size: 1.2rem;
}

.contact-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.contact-container .contact-info {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.contact-container .contact-info .contact-box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.contact-container .contact-info .contact-box .icon{
    min-width: 60px;
    height: 60px;
    background: var(--color-light);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.contact-container .contact-info .contact-box .text{
    display: flex;
    margin-left: 20px;
    font-size: 1.2rem;
    color: var(--color-light);
    flex-direction: column;
    font-weight: 300;
}

.contact-container .contact-info .contact-box .text h3{
    font-weight: 500;
    color: var(--color-light);
    font-size: 1.6rem;
}

.contact-form{
    width: 40%;
    padding: 40px;
    background: var(--color-light);
}

.contact-form h2{
    font-size: 1.5rem;
    color: var(--color-bg-4);
    font-weight: 500;
}

.contact-form .input-box{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contact-form .input-box input,
.contact-form .input-box textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 1rem;
    margin: 20px 0;
    border: none;
    border-bottom: 2px solid var(--color-bg-4);
    outline: none;
    resize: none;
}

.contact-form .input-box span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 1rem;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: var(--color-bg-2);
}

.contact-form .input-box input:focus ~ span,
.contact-form .input-box input:valid ~ span,
.contact-form .input-box textarea:focus ~ span ,
.contact-form .input-box textarea:valid ~ span{
    color: var(--color-bg-4);
    font-size: 1rem;
    transform: translateY(-20px);
}

.contact-form .input-box input[type="submit"]{
    width: 100px;
    background: var(--color-bg-3);
    color: var(--color-light);
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 1rem;
}

.footer-copyright{
    text-align: center;
    width: 100%;
    padding: 20px;
    background-color: var(--color-bg-2);
}

.footer-copyright h4 {
    font-weight: 400;
}

.shadow.show{
    display: block;
}

@media screen and (min-width: 768px) {
    .gallery-container .image h3{
        font-size: 1.4vw;
    }
}
  
@media screen and (max-width: 768px) {
    .gallery-container .image h3 {
        font-size: 3vw;
    }
}
  
.gallery-container .image:hover img{
    transform: scale(1.05);
}
  
.gallery-container .image.hide{
    display: none;
}

.gallery-container .image.show{
    animation: animate 0.4s ease;
}

@media screen and (max-width:1440px){
    .about-container{
        gap: 50px;
    }

    .service-description p{
        font-size: 1rem;
    }
}

@media screen and (max-width:1680px){
    .highlight .video-container {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 30rem;
                flex: 1 1 30rem;
    }

}

@media screen and (max-width:1024px) {
    .nav-links,
    .nav .nav-contact {
      display: none;
    }

    .nav .nav-toggle-btn{
        display: block;
    }

    .dropdown-menu{
        display: block;
        position: absolute;
        top: 100%;
        transform-origin: top;
    }

    .container {
        width: var(--container-width-md);
        position: relative;   
    }

    .about-container{
        grid-gap: 100px;
    }

    .service-header h2 {
        font-size: 1rem;
    }

    .service-detail p {
        font-size: 0.8rem;
    }

    .service-btn{
        font-size: 0.8rem;
    }

    .highlight .video-container {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 42rem;
                flex: 1 1 42rem;
    }

    .highlight .video-container .controls span {
        height: 1rem;
        width: 1rem;
    }

    footer{
        padding: 50px;
    }

    .contact-container{
        flex-direction: column;
    }

    .contact-container .contact-info{
        margin-bottom: 40px;
    }

    .contact-container .contact-info,
    .contact-form{
        width: 100%;
    }
}

@media screen and (max-width:882px) {
    .about-container{
        grid-gap: 250px;
    }

    .about-img img{
        width: 750px;
    }
}

@media screen and (max-width:860px) {
    .about-container{
        grid-gap: 250px;
    }

    .about-img img{
        width: 700px;
    }
}

@media screen and (max-width:800px) {
    .about-container{
        grid-gap: 200px;
    }

    .about-img img{
        width: 650px;
    }
}

@media screen and (max-width:750px) {
    .about-container{
        grid-gap: 150px;
    }

    .about-img img{
        width: 600px;
    }
}

@media screen and (max-width:650px) {
    .dropdown-menu {
        left: 2rem;
        width: unset;
    }

    .about-container{
        grid-gap: 50px;
    }

    .about-description{
        font-size: 1rem;
    }

    .about-img img{
        width: 500px;
    }

    .highlight .video-container .controls span {
        height: 0.8rem;
        width: 0.8rem;
    }

    .highlight .content h2{
        font-size: 1.8rem;
    }

    .highlight .content p{
        font-size: 1rem;
    }

    .highlight .btn{
        font-size: 0.8rem;
    }

    .gallery-description p{
        font-size: 1rem;
    }

    footer .contact-description p{
        font-size: 1rem;
    }

    footer p {
        font-size: 1rem;
    }

    footer .text{
        font-size: 1rem;
    }

    .contact-container .contact-info .contact-box .icon{
        min-width: 30px;
        height: 30px;
        font-size: 14px;
    }
}

@media screen and (max-width:550px) {
    .about-container{
        grid-gap: 100px;
    }

    .about-img img{
        width: 300px;
    }
}

@media screen and (max-width:300px) {
    .about-container{
        grid-gap: 100px;
    }

    .about-img img{
        width: 150px;
    }
}